@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.wrapper{

    width: 1900px;
    height: auto;
    margin: 0 auto;
    font-family: Montserrat;


}
.header{
    height: 1012px;
    width: 100%;
    background-image: url("../img/Sections background/section-1(header).jpg");
    margin-bottom: 8px;
}
.top-menu{
    display: flex;
    top: 0;
    height: 120px;
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
    margin-bottom: 251px;
    justify-content: space-around;
}

.top-menu-logo{

    width: 233px;
    height: 120px;
    left: 380px;
}
.top-menu-logo-links{
    text-decoration:none;
    display: flex;
    align-items: baseline;
    color: #FFFFFF;
    font-size: 32px;
}
.top-menu-logo-hex{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/top-menu/Polygon .svg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin-top: 26px;
    width: 58px;
    height: 67px;
    font-weight: bold;

}
.top-menu-logo-item-text-green{
    color: #18CFAB;
    font-weight: bold;
}

.top-menu-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 24px;
    width: 615px;
    margin-top:48px ;
}
.top-menu-link{
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF99;
    text-decoration: none;
}
.top-menu-link-hover:hover{
    color:#18CFAB ;

}
.header-text{
    color:  #FFFFFF;
    width: 769px;
    height: 213px;
    text-align: center;
    margin: 0 auto;

}
.header-text-1{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 263px 0 22px;
}
.header-text-blu{
    color: #18CFAB;
}
.header-text-2{
    font-size: 78px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 22px;
}
.header-text-3{
    font-size: 34px;
    color: #D4D4D4;
}
.header-button{
    margin-top: 135px;
    text-align: center;

}
.btn{
    width: 169px;
    height: 68px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
}

.button-green{
    background: #18CFAB;
}
.button-green:hover{
    background: #f0bc22;
}
.button-blu{
   background: #00CBF6;

}
.button-blu:hover{
    background: #f0bc22;
}
.btn-with-border{
    border-top: 1px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 2px;
    border-top-color: #FFFFFF;
    border-top-width: thick;
}

.btn-with-border:hover{
    border: none;
}


.option-container{
    width: 100%;
    height: 370px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5px;
}
.option-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 105px;
    padding-top: 85px;
}
.option-item-black{
   background-color:  #1C2A33;

}
.option-item-green{
    background-color:  #18CFAB;

}
.option-heading{
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}
.option-heading-green{
    color: #18CFAB;
}


.service-container{
    width: 100%;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 83px 0 91px;



}
.service-block{

}
.general-heading{
    font-size: 36px;
    text-align: center;
    display:block;
}
.general-heading-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    text-align: center;
}


.general-heading-text::before,
.general-heading-text::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 100px;
    background: #18CFAB;
}
.general-heading-text::before {
    bottom: -24px;
    left: calc(50% - 70px);
}
.general-heading-text::after {
    bottom: -28px;
    left: calc(50% - 50px);
}


.service-container-links{
    width: 1160px;
    height: 72px;
    margin-top: 101px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.service-container-links-item{
    width: 192px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EDEFEF;
    background: #F8FCFE;

}
/*.service-container-links-item:hover{
    border: 1px solid #18CFAB;
    box-sizing: border-box;

}*/




.service-container-link{
    text-decoration: none;
    color:#717171;
    font-size:16px;
    cursor: pointer;
}
.tabActive {
    color: #FFFFFF;
    background: #18CFAB;
}
.tabActive::after{
    content: url("../img/our services/Rectangle .png");
    position: absolute;
    height: 1px;
    display: block;
    background: #18CFAB;
    margin-top: 70px;

}
.service-container-info-item{
    display: flex;
    margin-top: 27px;

}
.service-container-img{
    width: 192px;
    height: 139px;
}
.service-container-text{
    width: 952px;
    height: 136px;
    text-align: left;
    font-size: 14px;
    margin-left: 15px;
    line-height: 24px ;
}


.purchase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 476px;
    background-image: url("../img/Sections background/section-2.png");
    background-repeat: round;

}

.purchase-heading {
    margin-bottom: 13px;
}

.purchase-heading h1,h3{
    padding: 12px;
}
.purchase-heading h1 {
    font-weight: bold;
}
.purchase-container-heading{
    text-transform: uppercase;
    color: #18CFAB;
    font-size: 40px;
    margin-top: 126px;
}
.our-text{
    font-size: 16px;
    color: #D8D8D8;
    margin-top: 12px;


}
.purchase-container>.button-green{
    /*background: #18CFAB;*/
    margin-top: 62px;
}

/*.purchase-container>.button-green:hover{
    background: rgba(31,218, 181, 0.8)
}*/


.amazing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*height: 1212px;*/
    background: #E9EDEF;
}
.amazing-container .tabActive::after{
   visibility: hidden;
}
.amazing_heading {
    margin-top: 96px;
    margin-bottom: 97px;
}

.amazing-container-links{
    display: flex;
    width: 589px;
    height: 62px;
    justify-content: center;
    align-items: center;
    margin-bottom: 71px;
    cursor: pointer;

}

.amazing-container-item:hover{
    border: 2px solid #18CFAB   ;

}
.amazing-container-item{
    border:1px solid  #DADADA;
    padding: 14px 2%;
    text-align: center;

}

.amazing-container-block {
    margin-bottom: 15px;
}

.amazing-container-gallery{
   /* display: grid;
    width: 1400px;
    grid-template-columns: repeat(4, 285px);
    grid-template-rows: repeat(3, 211px);
    align-items: center;
    justify-content: center;*/
    display: flex;
    width: 1400px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.amazing-container-gallery-item > img{
    width: 285px;
    height:211px;
}


.amazing-gallery-preview-img{
    display: flex;
    margin: 40px 0 20px;
}
.amazing-button {
    margin-bottom: 25px;
}

.icon{
    width: 40px;
    height: 40px;
    margin: 1.5px;
}
.icon-chain{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid  #18CFAB;

}
.icon-square{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
   background: #18CFAB;

}

.amazing-gallery-preview{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 285px;
    height: 211px;
    background: #E9EDEF;
    border-top: 2px solid #18CFAB;
}
.amazing-gallery-preview-heading{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.amazing-container > .button-green{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #18CFAB;
    margin-top: 70px;
    padding: 23px;
}

.breakingNews-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.breakingNews-gallery{
    display: grid;
    width: 1160px;
    height: 744px;
    grid-template-columns: repeat(4, 265px);
    grid-template-rows: repeat(2, 281px);
    margin-top: 100px;
    gap: 17px;
}
.breakingNews-gallery-item{
    position: relative;
}
.breakingNews-heading{
    margin-top: 82px;
    width: 211px;
    height: 40px;
}
.breaking-links{
    text-decoration: none;
}
.breaking-text{
    color: #777777;
    font-size: 14px;
    display: flex;
    width: 211px;
    height: 40px;
    justify-content: space-around;

}

.admin::before{
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 14px;
    background: #777777;
    left:100px;

}

.date{
    display: flex;
    position: absolute;
    background: #203E38;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 70px;
    height: 68px;
    top: 0;
    right: 3px;
}

.date_highlight{
    background: #18CFAB;
}
.breaking-heading{
    font-size: 18px;
    color: #717171;
    margin-top: 11px;
    font-weight: bold;
}
.breaking-heading_highlight{
    color: #18CFAB;
}



.client-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover  ;
    background-image: url("../img/Sections background/section-3.jpg");
    height: 853px;
}
.client-heading{
    margin-top: 98px;
    color: #FFFFFF;
}

.person-quote{
    Width :1160px;
    Height: 120px;
    color:#BBBBBB;
    font-size:16px;
    line-height: 30px;
/*    margin-top: 168px;*/
    text-align: center;

}
.client-container > .general-heading::after{
    content: url("../img/person-img/qootes.png");
    /*position: absolute;*/
    display: block;
    align-items: center;
/*    height: 33px;
    width: 47px;*/
/*    left: calc(50% - 27px);*/
    margin-top: 99px;

}

.person-about{
    display: flex;
    flex-direction: column;
    /*width: 120px;*/
    /*height: 42px;*/
    margin-top: 37px;
    line-height: 27px;
    text-align: center;
}
.name{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
}
.spec{
    font-size:13px;
    color:#BBBBBB;
}
.person-item{
}
.person-img{
    height: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-top: 38px;
}
.person-general-foto{
    Width :143px;
    Height:143px;
    border-radius: 100%;
    border: 12px solid rgba(31,218, 181, 0.2);

}
.person-carousel{
    display: flex;
    width: 483px;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}
.person-gallery{
    display: flex;
    height: 90px;
    justify-content: space-between;

}
.btn-arrow{
    display: flex;
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    justify-content: center;
    align-items: center;
}
.btn-arrow:hover{
    background: #18CFAB;
}
.person-photo{
    /*width: 70px;*/
    /*height: 70px;*/
    display: flex;
    align-items: center;
    justify-content: center;


}
.photo{
    width :60px;
    height:60px;
    border-radius: 100%;
    border: 6px solid rgba(31,218, 181, 0.2) ;

}

.photo_clicked{
    Width :90px;
    Height:90px;
    border-radius: 100%;

}

.best-images-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1366px;
    width: 100%;
    background: rgba(0, 0, 0, 0.0001);
    margin-top: 13px;

}
.best-heading{
    margin-top: 95px;
}
.best-images-gallery{
    width: 1160px;
    height: 961px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 115px;
}
.best-gallery-item{
    margin: 10px 10px;
}
.best-images-container  > .button-green{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #18CFAB;
    margin-bottom: 80px;
    padding: 23px;

}
/*.best-images-container>.button-green:hover{
    background: rgba(31,218, 181, 0.8)
}*/


.grid{
    width: 364px;
    height: 453px;
}
.grid-item-one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    margin-bottom: 3px;
}
.grid-item-one >.grid-img:last-child{
    width: 100% ;
    height: 168px;
    object-fit: cover;
}
.grid-item-two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px;
}






.footer-info{
    width: 100%;
    height: 121px;
    background-color:  #22353F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-item{
    font-size: 14px;
    color:  #AEAEAE;;
}
.footer-link{
    text-decoration: none;
    color:  #AEAEAE;;
}
.footer-link:hover{
    color: #18CFAB;
}
.hidden {
    display:none;
}