.wrapper{
    width: 100%;
    margin: 0 auto;
}


   /*<nav>*/


nav{
    display: flex;
    background: #313131;
    height: 70px;
    justify-content: space-between;
}
.logotype{
    display: flex;
}
.logo{
    width: 68px;
    height: 70px;
}
.logo-img{
    padding: 20px;
}
.logo-company{
    font-size:22px;
    padding: 27px;
    color: #FFFFFF;
}


.top-menu_list{
    display: flex;
    font-size: 22px;
}
.top-menu_item{
    padding: 26px 27px 0 27px;
    text-transform: uppercase;
    font-size: 15px
}

.top-menu_links {
    text-decoration: none;
    color: #FFFFFF;
}
.top-menu_links:hover{
   color:  #14B9D5;
}
.search{
    display: flex;
    width: 68px;
    height: 70px;
    background: #000000;
}
.search-img{
    padding: 27px ;
}


    /*</nav>*/

/*header*/

header{
    display: flex;
    width: 100%;
    height: 369px;
}
.header-Latest_News{
    background-image: url("../img/logotype/header-background.jpg");
    width: 100%;
    height: 369px;
    text-align: center;

}
.header-text{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    padding-top: 164px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.header-text:last-child{
    padding-top: 106px;
}
.btn{
    margin: 74px;
}

.btn-size{
    width: 170px;
    height: 55px;
    border-radius: 4px;
    color: #FFFFFF;
    margin: 0 10px;
}
.btn-green {
    background-color:  #89CA62;
}
.btn-blu{
    background-color:  #14B9D5;
}

/*header*/



/*Most-popular-posts*/

.Most-popular-posts{
    display: flex;
    height: 1300px;
    background:  #F2F2F2;
    justify-content: center;

}

.top-heading{
    box-sizing: border-box;
    height: 33px;
    padding: 49px 0 52px 0;
    width: 1170px;
    margin: 0 auto;
}

.section-heading{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #18B4CF;
    text-transform: uppercase;
}

.Most-popular-posts-list {
    display: flex;
    width: 1170px;
    align-items: center;
    height: 896px;
    flex-flow: column wrap;
    margin-left: -30px;
    margin-right: -30px;



}

.container-most{
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    margin: 0 30px 32px 30px;
    width: 370px;
}


 .container-most_text{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    align-items: flex-end;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
     color: #353A3D;

 }
/*Most-popular-posts*/



   /*our most popular clients begin*/
.most-popular{
    background-image: url("../img/img_parallax/background-our-most.jpg");
    height: 588px;
    background-attachment: fixed;
    background-size: cover;
}
.rectangle{
    margin-top: 87px;
}
.rectangle-blu {
    background: #18B4CF;
    width: 60px;
    height: 3px;

}
.company{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 58px;
    margin: 106px 509px 108px;
}
/*our most popular clients begin*/


/*<section class="top-rated">*/


.top-rated-item_img img{
    width: 100%;
}
.top-rated-list_img {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


/*<section class="top-rated">*/


/*hot-news*/

.hot-news{
    /*height: 1683px;*/
    /*display: flex;*/
    /*justify-content: space-around;*/
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 49px;

}
.hot-news_list{
    /*//version 1*/

    display: grid;
    grid-template-areas:
  "hot-news_item1 hot-news_item1 hot-news_item1  hot-news_item2"
  "hot-news_item3 hot-news_item3 hot-news_item4 hot-news_item4"
  "hot-news_item5 hot-news_item5 hot-news_item6  hot-news_item6"
  "hot-news_item7 hot-news_item8 hot-news_item8  hot-news_item8";

    margin: 0 auto;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: 259px 366px 366px 259px;
    width: 1165px;
    height: 1480px;
    grid-column-gap: 60px;
    grid-row-gap: 42px;
}

.hot-news_item_middle--Emirate{
   display: flex;
    grid-area: hot-news_item1;

   /* height: 259px;*/
}

.hot-news_item_middle--Spain{
    grid-area: hot-news_item2 ;
    /*height: 416px;*/
}

.hot-news_item_middle--egypt {
    grid-area: hot-news_item3 ;
    /*height: 416px;*/

}
.hot-news_item_middle--maldives {
    grid-area: hot-news_item4 ;
    /*height: 416px;*/

}


.hot-news_item_middle--tenerife {
    grid-area: hot-news_item5 ;
  /*  height: 416px;*/

}

.hot-news_item_middle--britain {
    grid-area: hot-news_item6 ;

}

.hot-news_item_middle--ireland{
    grid-area: hot-news_item7 ;
}
.hot-news_item_middle--spain{
    grid-area: hot-news_item8 ;
    display: flex;
}
/*.grid-item_pic{
    height: 259px;
}*/
/*.grid-item_pic >img{
    width: 100%;
    height: 100%;
}*/

.grid-item_desc{
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
   text-align: center;


}
.grid-item_text-Prophecy{
    margin-top: 61px;
}

.grid-item_text{
    display: block;
    text-align: end;
    font-size: 14px;
    padding: 14px;
}

.grid-item_heading{
    font-weight: bold;
    font-size: 18px;
    padding: 14px;
}


/*hot-news*/

/*footer*/

footer{
    /*width: 100%;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background:#000000 ;
    margin-top: 71px;
}

.copyright{
    font-size: 13px;
    color:#FFFFFF;

}
.wrap{
    display: flex;
    width: 1165px;
    justify-content: space-between;
}
/*footer*/