/**{*/
/*    margin: 0 auto;*/
/*    padding: 0 ;*/
/*}*/


@import "https://fonts.googleapis.com/css2? family = Montserrat: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 1,100; 1,200; 1,300 & display = swap";

.wrapper
{
    width: 1280px;
    text-align: center;
    margin: 0 auto;
}
.menu-list .links{
    display: inline-block;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 26px;

}
.links{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left:15px ;


}
.image{
    width: 100%;
}
a{
    /*list-style-type: none;*/
    text-decoration: none;
    color: #FF0000;
    letter-spacing: 3px;
}
h2{
    font-size: 22px;
    margin-top: 48px;
    font-weight: bold;
    font-family: Montserrat;
    text-transform: uppercase;
}
p{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 38px 68px 0 68px;
}
.btn{
    margin-top: 80px;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    color: white;
}
.copyright{

    text-align: right;
    margin-top: 75px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2.4px;
    line-height: 20px;
    padding-bottom: 20px;

}