
.page_size {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-image: url("../img/background 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto Thin";

}
.main{
    height: 768px;
    width: 1366px;
    box-sizing: border-box;
}


/*<header>*/


.header{
    display: flex;
    justify-content: space-between;
    Height :61px ;
    width: 1028px;
    padding: 46px 165px 17px 178px;

}

.header-logotype-links {
    width: 53px;
    height: 47px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}

.img-hover-white{
    position: relative;
    top: 51px;
}

.img-hover-orange{
    position: relative;
    z-index: -2;
}

.header-logotype-links:hover .header-text-orange{
    color: #F26522;
    z-index: +4;
}

.header-logotype-text{
    margin-left: 8px;
}

.header-text-orange:hover{
    color: #F26522;
}

.header-logotype-text-milan{
    font-weight: bold;
    font-size: 29px;
    color: #FFFFFF;

}
.header-logotype-text-holidays{
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;

}
.header-logo-left{
    text-align: end;
    font-size: 18px;
    color: #FFFFFF;
}

.phone{
    padding-top: 19px;
}
.header-left-text-link{
    text-decoration: none;
    color: #FFFFFF;
}


                /*menu-list*/
.content{
    margin: 0 auto;
    width: 1030px;
    height: 560px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 260px 260px;
    justify-content: center;
    grid-column-gap: 61px;
    grid-row-gap: 37px;
}


.img-size{
    width:100%;
    height: auto;
    background: linear-gradient(to right, white,black);
    position: relative;
    padding: 4px;
}
.price-text-from{
    font-size: 10px;
}
.content-block{
    position: relative;
}


.gallery-links{
    text-decoration: none;
}


.content-price-preview{
    z-index: -1;
    box-sizing: border-box;

    width: 100%;
    height: 55px;
    bottom: 0;
    padding: 2px 14px 12px 16px;
    font-size: 20px;
    color: #FFFFFF;
    background: #F26522;
    line-height: 23px;
}
.wrap{
    position: absolute;
    left: 0;
    bottom: -55px;
    display: block;
    width: 100%;
    transition: all 350ms;

}

.price-item{
    display: flex;
    justify-content: space-between;
}




.content-block-img{
    position: relative;
    overflow: hidden;
    display: block;
    height: 220px;

}

.content-block:hover .wrap{
  /*  color: #F26522;*/
    z-index: 1;
    bottom: 0;
    transition: all 350ms;


}

.content-block:hover .content-heading{
    color: #F26522;
}

.content-block-header{

    padding-top: 20px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}
/*<footer>*/
.copyright{
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 49px;
}

