.nav{
    background: rgba(255, 255, 255, 0.2);
}
.nav-text{
    color: rgba(14, 28, 26,0.9);
}
.nav-link{
    color: rgba(14, 28, 26,0.9);
}
.nav-link:link{
    color: rgba(14, 28, 26,0.9);
}
.nav-link:hover{
    color: #3CB878;
}

.logotype{
    color: #fdfdfd;
}
.logotype:hover{
    color: #3CB878;
}
.theme-btn{
    background: rgba(0, 0, 0, 0.0);
    color: #171717;
}
.theme-btn:hover{
    color: #3CB878;
}
.item-icon{
    color: #171717;
}
.item-icon:hover{
    color: #3CB878;
}

.container{
    background: rgba(14, 28, 26, 0.9);
}
.fa-facebook{
    color: #fdfdfd;
}
.google-plus{
    color: #fdfdfd;
}
.btn{
    color: #fdfdfd;
}
.btn-f {
    background:#022263 ;

}
.btn-g{
    background:#AB1F09;

}
.border{
    color: #848484;
}
.heading-text::after{
    background: #3CB878;
}

.border::after{
    border: 1px solid #F2F2F2;
}
.border::before{
    border: 1px solid #F2F2F2;
}
.placeholder{
    background: rgba(14, 28, 26,0.7);
    border: 1px solid #F2F2F2;
}
.checkbox_input:checked+.checkbox_label::before{
    background-color:rgba(14, 28, 26,0.1);
}
.checkbox_label{
    color: #848484;
}
.checkbox_label::before{
    border: 1px solid #F2F2F2 ;
    background: rgba(14, 28, 26,0.1);
}

.register-btn{
    background: rgba(60, 184, 120, 0.8);
    color: #fdfdfd;

}
.register-btn:hover{
    background: #01813F;

}

.text{
    color: #3CB878;
}

