.nav{
    background: rgba(0, 0, 0, 0.4);
}
.nav-text{
    color: #FFFFFF;
}
.nav-link{
    color: #FFFFFF;
}
.nav-link:link{
    color: #FFFFFF;
}
.nav-link:hover{
    color: #3CB878;
}

.logotype{
    color: #fdfdfd;
}
.logotype:hover{
    color: #3CB878;
}
.theme-btn{
    background: rgba(0, 0, 0, 0.0);
    color: white;
}
.theme-btn:hover{
    color: #3CB878;
}
.item-icon{
    color: white;
}
.item-icon:hover{
    color: #3CB878;
}

.container{
    background: #fdfdfd;
}
.fa-facebook{
    color: #fdfdfd;
}
.google-plus{
    color: #fdfdfd;
}
.btn{
    color: #fdfdfd;
}
.btn-f {
    background:#022263 ;

}
.btn-g{
    background:#AB1F09;

}
.border{
    color: #848484;
}
.heading-text::after{
    background: #3CB878;
}

.border::after{
    border: 1px solid #F2F2F2;
}
.border::before{
    border: 1px solid #F2F2F2;
}
.placeholder{
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
}
.checkbox_input:checked+.checkbox_label::before{
    background-color:#FFFFFF;
}
.checkbox_label{
    color: #848484;
}
.checkbox_label::before{
    border: 1px solid #F2F2F2 ;
    background: #FFFFFF;
}

.register-btn{
    background: rgba(60, 184, 120, 0.8);
    color: #fdfdfd;

}
.register-btn:hover{
    background: #01813F;

}

.text{
    color: #3CB878;
}

