@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    background-image: url("../img/backgrond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 75px;
    font-family: Ubuntu;
}


.nav{
    position: absolute;
    top: 0;
    display: flex;
    height: 58px;
    
    width: 100%;
    left: 0;
    justify-content: space-between;
}
.nav-right{
    display: flex;
}
.nav-text{
    
    font-size: 14px;
    padding: 23px 79px 19px 27px;
}
.nav-link{
    text-decoration: none;
    
}
.nav-link:link{
    
}
.nav-link:hover{
    
}

.logotype{
    font-size: 22px;
    
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 18px 79px ;

}
.logotype:hover{
    
}
.theme-btn{
    border: none;
    height: 23px;
    
    
    margin-top: 20px;
}
.theme-btn:hover{
    
}
.list-icon{
    display: flex;
    width: 115px;
    justify-content: space-between;
    padding: 17px 25px 17px ;
}
.item-icon{
    width: 23px;
    height: 23px;
    
}
.item-icon:hover{
    
}
.nav-line{
    margin: 0;
    width: 1px;
    height: 19px;
    opacity: 50%;
    margin-top: 19px;
}

/*
     form*/

.container{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 444px;
    height: 584px;
    
    padding: 31px 61px;
    justify-content: center;
    align-items: center;
    margin-top: 112px;

}
h1{
    font-size: 20px;
}
.text {
    font-size: 14px;
}
.fa-facebook{
    
    width: 13px;
    height: 24px;
    padding: 12px;
}
.heading{
    display: flex;
    width: 324px;
    justify-content: space-between;
}
.google-plus{
    display: flex;
    
    width: 30px;
    height: 19px;
   padding: 12px 2px;
}
.account-btn{
    display: flex;
    width: 324px;
    justify-content: space-between;
}
.btn{
    
    width: 157px;
    height: 46px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}
.btn-f {
    

}
.btn-g{
    

}
.btn-line{

    width: 1px;
    height: 28px;
    opacity:0.1;
    margin-top: 5px;

}
.btn-left{
    display: flex;
}
.border{
    display: flex;
    width: 324px;
    font-size: 14px;
    
    margin-top: 18px;

}
.heading-text::after{
    content: "";
    width: 18px;
    height: 18px;
    
    position: absolute;
    margin-left: -127px;
}

.border::after{
    content: "";
    display: block;
    width: 152px;
    height: 0;

    margin-top: 8px;
}
.border::before{
    content: "";
    display: block;
    width: 152px;
    height: 0;

    margin-top: 8px;
}
.placeholder{
    display: flex;
    padding-left: 20px;
    width: 324px;
    height: 46px;
    

    border-radius: 4px;
    outline: none;
}
.placeholder-last{
    margin-bottom: 15px;
}


.placeholder:focus{
    width: 330px;
    height: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.52);
}
.checkbox{
    position: relative;
    display: flex;
    width: 235px;
    height: 20px;
    align-items: center;
    right: 45px;
}
.checkbox_input{
    appearance:none ;
    -webkit-appearance: none;
    position: absolute;
    opacity: 0;
    z-index: 1;

}
.checkbox_input:checked+.checkbox_label::before{
    background-image: url("../img/green-tick-simple.svg");
    background-repeat: no-repeat;
}
.checkbox_label{
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    
    cursor: pointer;
    justify-content: space-between;
    width: 112px;
}
.checkbox_label::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    

   /* top: 0;
    left: 0;*/
    border-radius: 2px;

}
.checkbox_label::after{
    display: block;
    width: 14px;
    height: 14px;

    background-size: 15px 15px;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity-ls linear ;

}



.register-btn{
    display: flex;
    width: 324px;
    height: 46px;
    
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    
    border: none;
    cursor: pointer;
    margin-top: 20px;

}
.register-btn:hover{
    
    border-radius: 4px

}

.text{
    text-decoration: none;
    
    padding-left: 5px;

}
.text:hover{
    text-decoration: underline;
}
