@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

body{
    background: rgb(20,20,20);
    overflow: hidden;
    font-family: 'Ubuntu';
    margin: 50% 0 0 0 ;
    position: relative;
}


.wrapper{
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 450px;
}
.scroll-text{
    color: orange;
    font-size: 3vw;
    line-height: 2em;
    font-weight: bold;
    text-align:justify;
    position: relative;
    animation: scroll 30s linear forwards;

}
.heading{
    text-align: center;
    line-height: 1.5em;
}
.text{
    text-align: center;
    line-height: 1.5em;
}
@keyframes scroll {
    from { top: 0; transform: translateZ(0) rotateX(20deg)}
    to { top: -7500px; transform: translateZ(-2500px) rotateX(21deg)}
}
