
wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100em;
    margin: 0 auto;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    height: 58px;
    background:wheat;
    width: 100%;
}





main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1366px;
    height: 768px;
}
.choose{
    width: 444px;
    height: 584px;
    background: white;
}